.search-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .search-form {
    margin: 0 auto;
    max-width: 300px;
  }
  
  .form-control {
    border: 2px solid #ffc400;
    border-radius: 5px;
  }
  
  .btn-outline-warning {
    background-color: #ffc400;
    margin: 10px;
    color: #333;
    border: 2px solid #ffc400;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .btn-outline-warning:hover {
    background-color: #333;
    color: #ffc400;
    border: 2px solid #333;
  }
  